@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .jhs-shadow {
        text-shadow: 0 0 30px rgba(148, 191, 255);
    }

    .jhs-text-shadow-blue-lg {
        text-shadow: 0 0 30px rgba(148, 191, 255);
    }

    .jhs-text-shadow-blue {
        text-shadow: 0 0 22px rgba(148, 191, 255, 0.84);
    }


    .jhs-text-shadow-orange-lg {
        text-shadow: 0 0 30px rgb(255, 180, 148);
    }

    .jhs-text-shadow-orange {
        text-shadow: 0 0 22px rgba(255, 196, 148, 0.84);
    }

    .jhs-text-baseline div {
        display: inline-block;
        vertical-align: baseline;
        position: relative;
    }

    .jhs-text-baseline .stat_header {
        bottom: -8px;
    }

    .jhs-text-left-game {
        opacity: 0.3;
    }
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255 ,0.15);
      border-radius: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgba(255, 77, 0, 0.6);
      border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgba(128, 33, 0, 0.73);
    }
}