<!DOCTYPE html>
<html lang="en">
<head>
{#    <script src="https://cdn.tailwindcss.com"></script>#}
    {% block includes %}{% endblock %}
    <link rel="stylesheet" href="{{  url_for('static', path='dist/main.css') }}">
    <script src="/static/model.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet">
    <title>RL Stats</title>
</head>
<body class="bg-body">
<section class="m-2 rounded-lg bg-black/70">
{% block section1 %}{% endblock %}
</section>
<section class="m-2 rounded-lg bg-black/70">
    {% block section2 %}{% endblock %}
</section>
</body>
</html>