{% extends "base_layout.j2" %}
{% block includes %}
    <script src="{{ url_for('static', path="mmr_chart.js") }}"></script>
    <script src="{{ url_for('static', path="index.js") }}"></script>
{% endblock includes %}
{% block section1 %}
    <div class="rounded-lg bg-gradient-to-b from-blue-700/40 to-orange-700/40 p-4 text-white" id="scoreboard">
    <script>
        addLiveScoreboardToElementID("scoreboard")
    </script>
    </div>
<script>

</script>
<script>

    let online_game = null
    let previous_match_id = ""

    function fetchLiveGame() {
        fetch("{{ url_for('get_online_game') }}")
            .then(res => res.json())
            .then(data => {
                if (data) {
                    online_game = OnlineGame.from(data)
                }
                if (online_game.match_id !== previous_match_id) {
                    updateFields()
                    previous_match_id = online_game.match_id
                }
                updateFields(online_game)
            })
    }

    window.addEventListener('load', function () {
        const fetchInterval = 500
        setInterval(fetchLiveGame, fetchInterval)
    })
    window.addEventListener('resize', function () { myChart.resize() })
</script>

{% endblock section1 %}
{% block section2 %}
    <div class="rounded-lg bg-gradient-to-b from-blue-700/40 to-orange-700/40 p-4 text-white">
        <div class="grid grid-cols-2">
            <div>
                <canvas id="myChart"></canvas>
            </div>
            <div id="game_list">
                <div>One</div>
                <div>Two</div>
            </div>
        </div>
    </div>
    <script>
        const ctx = document.getElementById('myChart');
        let myChart = newMMRChart(ctx)
        function fetchMMRData() {
            fetchMMRChartData("{{ url_for('get_todays_mmr') }}")
            {#addGameToDiv('game_list', new OnlineGame())#}
        }
        fetchMMRData()
        window.addEventListener('load', function () {
            const fetchInterval = 2000
            setInterval(fetchMMRData, fetchInterval)
        })

    </script>

{% endblock %}